//
   Created by Niclas on 29.06.2015.
head
    title METEOR - Folder


body
    .container
        header
            h1 Folder List
            label.hide-completed
                input(type="checkbox" checked="#{hideCompleted}")
                | Hide Folder

        fieldset
            h2 Create a New Message
            form(class="new-msg")
                input(type="text" name="folder" placeholder="Type a Folder")
                br
                textarea(type="text" name="msg" placeholder="Type a New Message")

                p
                    button(class="btn btn-success") Submit Post

        ul
            +each Folder
                +folder

template(name="folder")
    li {{_id}}
        div
            br
            form(class="renameFolderForm")
                input(type="text" name="text" placeholder="rename {{_id}}")
                button
                    |Rename Folder
            br
            button(class="removeFolder")
                | Delete Folder
            button(class="hideButtonFolder")
                | Show Mails
            if hideFolderDiv
                div
                    ul
                        +each MessageList
                            +message


template(name="message")
    li
        fieldset

            p
                b {{_id}}
            p Parent: {{../_id}}
            button(class="hideButtonMessage")
                | Show Detail
            if hideMessageDiv
                +detail

template(name="detail")
    div
        p More Stuff
        table
            tr
                td  Hallo
                td  Welt
            tr
                td  Meine
                td  Zeile

//template(name="folders")
   #items-view
      if loading
         | Loading...
      else
         #new-todo-box
            input#new-todo(type="text" placeholder="New item")
         ul#item-list
            each folders
               +mail

//template(name="mail")
   li.folder(class=done_class)
      if editing
         .edit
            input#todo-input(type="text" value=text)
      else
         .destroy
         .display
            input.check(name="markdone" type="checkbox" checked=done)
            .todo-text= text
      .item-tags
         each tag_objs
            .tag.removable_tag
               .name= tag
               .remove
         if adding_tag
            .tag.edittag
               input#edittag-input(type="text")
         else
            .tag.addtag +tag