//
   Created by Niclas on 29.06.2015.
head
    title METEOR - Folder


body
    .container
        header
            h1 Folder List
            label.hide-completed
                input(type="checkbox" checked="#{hideCompleted}")
                | Hide Folder

        fieldset
            h2 Create a New Message
            div
                form(class="new-msg")
                        input(type="text" name="folder" class="form-control" placeholder="Type a Folder")
                        br
                        textarea(type="text" name="msg" style="width:100%" placeholder="Type a New Message")
                        div(style="text-align:right")
                            button(class="btn btn-success" style="margin-top:10px") Submit Post

        ul
            +each Folder
                +folder

template(name="folder")
    li
        label {{folder}}
        div(style="background-color:#FAFAFA")
            div(class="form-group")
                form(class="form-inline renameFolderForm")
                    input(type="text" name="text" class="form-control" placeholder="rename {{folder}}")
                    button(class="btn btn-warning" style="margin-left:10px")
                        |Rename Folder
            br
            div(style="text-align:right")
                button(class="btn btn-danger removeFolder" style="margin-bottom:10px;margin-left:10px")
                    | Delete Folder
                button(class="btn btn-primary hideButtonFolder" style="margin-bottom:10px")
                    | Show Mails
            if hideFolderDiv
                div
                    ul
                        +each MessageList
                            +message


template(name="message")
    li
        fieldset
            p
                b {{subject}}
            p Parent: {{folder}}
            button(class="hideButtonMessage")
                | Show Detail
            if hideMessageDiv
                +detail

template(name="detail")
    div
        p More Stuff
        table
            tr
                td  Hallo
                td  Welt
            tr
                td  Meine
                td  Zeile

//template(name="folders")
   #items-view
      if loading
         | Loading...
      else
         #new-todo-box
            input#new-todo(type="text" placeholder="New item")
         ul#item-list
            each folders
               +mail

//template(name="mail")
   li.folder(class=done_class)
      if editing
         .edit
            input#todo-input(type="text" value=text)
      else
         .destroy
         .display
            input.check(name="markdone" type="checkbox" checked=done)
            .todo-text= text
      .item-tags
         each tag_objs
            .tag.removable_tag
               .name= tag
               .remove
         if adding_tag
            .tag.edittag
               input#edittag-input(type="text")
         else
            .tag.addtag +tag